@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--card-width: 63mm;
	--card-bleed: 1mm;
	--card-margin: 1mm;
	--page-width: 21cm;
	--page-height: 29.7cm;
	--page-padding: 0.55cm;
	--card-bgc: #161410;
}

@font-face {
	font-family: "Beleren Small Caps";
	src: url("/assets/fonts/Beleren Small Caps.ttf");
}
@font-face {
	font-family: "Beleren";
	font-weight: bold;
	src: url("/assets/fonts/Beleren-Bold.ttf");
}
@font-face {
	font-family: "MPlantin";
	font-weight: bold;
	src: url("/assets/fonts/MPlantin-Bold.ttf");
}
@font-face {
	font-family: "MPlantin";
	font-style: italic;
	src: url("/assets/fonts/MPlantin Italic.ttf");
}
@font-face {
	font-family: "MPlantin";
	src: url("/assets/fonts/Mplantin.woff");
}
@font-face {
	font-family: "Prompt";
	font-weight: 100;
	src: url("/assets/fonts/Prompt-ExtraLight.ttf");
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

@media screen {
	.card-grid {
		margin: 0 auto;
		width: fit-content;
		grid-gap: var(--card-margin);
		display: grid;
		grid-template-columns: repeat(
			3,
			auto
		);
	}
}

@media print {
	html,
	body {
		background-color: white !important;
	}

	main, .pages {
		width: var(--page-width);
		height: var(--page-height);
	}

	.page-break {
		page-break-after: always;
	}

	.page {
		max-width: var(--page-width);
		min-height: var(--page-height);
		display: grid;
		place-content: center;
	}

	.card-grid {
		display: grid;
		width: fit-content;
		height: fit-content;
		grid-template-columns: repeat(
			3,
			1fr
		);
		grid-template-rows: repeat(
			3,
			auto
		);
		grid-gap: var(--card-margin);
	}
}
